<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Provinsi</title>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    
     <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    </header>

     <h1 class="text-center">Update Data Provinsi</h1>
        <form action="/updateProv/{{data.id}}" method="POST" enctype="multipart/form-data" class="d-flex flex-column w-50 mx-auto">
        <label for="nameProvinsi">Nama provinsi</label>
        <input type="text" name="nama" id="nameProvinsi" class="mt-2" value="{{data.nama}}" required>
        <label for="diresmikan" class="mt-2">diresmikan</label>
        <input type="date" class="mt-2" name="diresmikan" id="diresmikan" value="{{data.diresmikan}}" required>
        <label for="image" class="mt-2">image Upload</label>
        <input type="file" name="photo" id="image" class="btn btn-primary text-center form-control" required>
        <label for="pulau" class="mt-2">Nama Pulau </label>
        <input type="text" name="pulau" id="pulau" class="mt-2" value="{{data.pulau}}" required> 
            <button type="submit" class="btn btn-primary mt-2"> submit</button>
    </form>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>